#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ShadowPC Beta
Comment=Lancer le client ShadowPC Beta
Exec=nix-shell /home/user/Shadow/shell.nix --run "/home/user/Shadow/ShadowPCBeta.AppImage"
Icon=/home/user/Shadow/shadowpc-beta-256.png
Terminal=false
Type=Application
Categories=Internet;Network;Application;

